.outputBox{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10%;
    width: 16%;
    height: 63%;
    padding: 2%;
    background-image: linear-gradient(to bottom left, #7cedff, #ce0bffe0);
}
h4{
    color: #bfe4fcc9;
}
@media only screen and (max-width: 512px) {

    .outputBox{
      width: 40%;
      height:max-content;
      flex-wrap: wrap;
      margin-top: 1%;
      margin: 1% 5%;
    }
    }