.countdown {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom left, #81d9f0d4, #bd6bf8);
}

.headingpink {
  color: #ac04ff;
}
@media only screen and (max-width: 512px) {
  .countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* margin-top: auto; */
    padding: 15% 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom left, #81d9f0d4, #bd6bf8);
  }
}

@media only screen and (max-width: 768px) {
  .countdown {
    padding: 15% 0 0 0;
    justify-content: start;
  }
}

@media only screen and (max-width: 992px) {}

@media only screen and (min-width: 992px) {}